#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

li{
  list-style-type: none;
  text-align: left;
}

th {
  font-weight: bolder;
  background-color: #f4f4f44b;
  padding: 10px;
  border-bottom: 2px solid #ddd;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 10px 0;
}

td, th {
  padding: 12px 15px;
  border: 1px solid #ddd;
}

tr:hover {
  background-color: #df2d2d19;
}

a {
  color: #3498db;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

input{
  margin: 0px 10px;
}


.blur-background {
  background-color: rgba(68, 53, 38, 0.7); /* Semi-transparent background */
  backdrop-filter: blur(10px); /* Adjust the blur radius as needed */
  -webkit-backdrop-filter: blur(10px); /* For Safari support */
  padding: 20px;
  border-radius: 10px;
}

.card {
  background-color: rgba(68, 53, 38, 0.7); /* Semi-transparent background */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card input {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 0em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  flex-direction: column;
}

select{
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  text-align: center;
}